<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MediTrack</title>
</head>
<body>

<header>
    <h1>MediTrack</h1>
    <div th:if="${user != null}">
        Benvenuto <span th:text="${user.name}"> <span th:text="${user.surname}"></span></span>

    </div>
</header>

<main>
    <section>
        <h2>Welcome to MediTrack</h2>
        <p>Do you want to:</p>
        <ul>
            <li><a href="/login.html">Login</a></li>
            <li><a href="/register.html">Register</a></li>
        </ul>
    </section>
</main>

</body>
</html>
