<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <p th:text="${session.user.getUsername()}"></p>
    <title>Search Patient</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="/js/searchPatient.js"></script>
</head>
<body>

<h1>Search Patient</h1>
<a href="/" class="btn btn-primary">Home</a>


<form action="/doSearch" method="post" class="mb-4">
    <div class="input-group">
        <input type="text" class="form-control" id="username" name="username" placeholder="Insert username" required>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<div class="card">
    <div class="card-body">
        <div th:if="${session.patient != null}">
            <h2>Patient Details</h2>
            <p th:text="'Username: ' + ${session.patient.getUsername()}"></p>
            <p th:text="'Name: ' + ${session.patient.getName()}"></p>
            <p th:text="'Surname: ' + ${session.patient.getSurname()}"></p>
            <form action="/addPatient" method="post">
                <button type="submit" class="btn btn-success">Add patient</button>
            </form>
            <form action="/removePatient" method="post">
                <button type="submit" class="btn btn-danger">Remove patient</button>
            </form>
        </div>
    </div>
</div>




</body>
</html>
