<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User info</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<header>
    <h1>User info:</h1>
    <div th:if="${session.user}">
        <p th:text="'Name: ' + ${session.user.getName()}"></p>
        <p th:text="'Surname: ' + ${session.user.getSurname()}"></p>
        <p th:text="'Username: ' + ${session.user.getUsername()}"></p>
        <p th:text="'E-mail: ' + ${session.user.getEmail()}"></p>
        <p th:text="'Birth Date: ' + ${session.user.getBirthDate()}"></p>
        <p th:text="'Codice Fiscale: ' + ${session.user.getCf()}"></p>
        <div th:if="${userType eq 'Doctor'}">
            <p th:text="'Doctor ID: ' + ${session.user.getDoctorId()}"></p>
            <p th:text="'Specialization: ' + ${session.user.getSpec()}"></p>
            <p th:text="'Availability: ' + ${session.user.getDocAvailTime()}"></p>
            <h1>List of patients:</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Codice Fiscale</th>
                        <th>Tessera Sanitaria code</th>
                    </tr>
                </thead>
                <tbody th:if="${userType eq 'Doctor'}">
                    <tr th:each="pat : ${session.user.getPatients()}" th:id="|r${pat.getUsername()}|">
                        <td th:text="${pat.getUsername()}"></td>
                        <td th:text="${pat.getName()}"></td>
                        <td th:text="${pat.getSurname()}"></td>
                        <td th:text="${pat.getCf()}"></td>
                        <td th:text="${pat.getTScode()}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${userType eq 'Patient'}">
            <p th:text="'Tessera Sanitaria code: ' + ${session.user.getTScode()}"></p>
            <h1>List of doctors:</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Specialization</th>
                    <th>Availability</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="doc : ${session.user.getDoctors()}" th:id="|r${doc.getUsername()}|">
                    <td th:text="${doc.getUsername()}"></td>
                    <td th:text="${doc.getName()}"></td>
                    <td th:text="${doc.getSurname()}"></td>
                    <td th:text="${doc.getSpec()}"></td>
                    <td th:text="${doc.getDocAvailTime()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</header>

<main>
    <a href="/doUpdate" class="btn btn-primary">Update</a>
    <a href="/" class="btn btn-primary">Home</a>
</main>

</body>
</html>
